.p-chips {
	.p-chips-multiple-container {
		width: 40em;
	}
}

.cross-button {
    position: relative;
    right: 38px;
    top: 15px;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}


.p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0.375rem 0.75rem;
    margin-right: 0.5rem;
    background: #1B1534 !important;
    color: #ffffff !important;
    border-radius: 6px;
}

.p-inputgroup-addon {
    background: #ffffff !important;
}

.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
  border-color: #6366F1;
}